################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CPP2020/x64
/CPP2020/Debug
/CPP2020/.vs/CPP2020/v16
/.vs
/CPP2020/Project1/Debug
/CPP2020/Project1/x64
